.homepage{
    text-align: center;
    margin: 10px;
    padding: 10px; 
}
 .table{
     text-align: center;
 }
 
 .body{
     background-color:lavender;
     font-family: Arial, Helvetica, sans-serif;
 }
 